/* Define application-wide selectors here!*/
@use '../variables' as *;

html {
	position: relative;
	height: 100%;
}

body {
	// ...
}

button {
	background-color: rgb(97, 97, 119);
	border-color: blue($color: #da4040);
	color: white;
	font-weight: bold;
	padding: 4px;
	border-radius: 3px;
	// transition:
	font-family: sans-serif;
	// text-transform:
	// font-size: 12px;
	// text-align:
}

button:hover {
	background-color: $lightest-gray;
	border-color: $lightest-gray;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}