
<div class="masthead">
    <div class="language-nav">
        <ul>
            <li><a href="">CSS</a></li>
            <li><a href="">HTML</a></li>
            <li><a href="">javascript</a></li>
            <li><a href="">Ruby</a></li>
        </ul>
    </div>


<img class="logo" src="assets/AA_Times_Logo.png">

<div class="masthead-links">
    <ul>
        <li><time>Tuesday, October 18, 2016</time></li>
        <li><button>Today's Paper</button></li>
        <li><button>Video</button></li>
        <li><i>77°F</i></li>
        <li>AAO<strong>+100%</strong></li>

    </ul>

</div>







</div>

