
<div class="masthead">
    <div class="language-nav">
        <ul>
            <li><a href="">CSS</a></li>
            <li><a href="">HTML</a></li>
            <li><a href="">javascript</a></li>
            <li><a href="">Ruby</a></li>
        </ul>
    </div>


<link href="app/assets/images/AA_Times_Logo.png">

<div class="masthead-links">
    <ul>

        <li><button>Today's Paper</button></li>
        <li><button>Video</button></li>
        <li>77°F</li>
        <li>AAO<strong>+100</strong></li>

    </ul>
    


</div>







</div>

